:root {
  /* fonts */
  --poppins-font: "Poppins", sans-serif;
  --Great-Vibes-font: "Great Vibes", cursive;
  --Montserrat-font: "Montserrat", sans-serif;
  --Dancing-font: "Dancing Script", cursive;

  /* colors */
  --main-color: #bcb8b1;
  --gold: #b29d8c;
  --beige: #d7cabf;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Body */

body {
  font-family: var(--poppins-font);
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Container */

.container-box {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-inline: auto;
}

/* Navigation */
.navbar {
  background-color: var(--main-color);
}
.nav-link {
  color: white;
  font-family: var(--Great-Vibes-font);
  font-size: 24px;
}
.navbar-brand {
  width: 50px;
}

/* Hero */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/000/original/5.png?1709826692");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  height: 700px;
  padding: 70px 100px;

  transition: background-color 300ms ease-in-out;
}
header:hover {
  filter: drop-shadow(0 0 25px rgb(128, 107, 62));
}

.header-title {
  font-size: 140px;
  font-family: var(--Montserrat-font);
  text-shadow: var(--gold) 1px 0 10px;
  letter-spacing: 3px;
}

.header-subtitle {
  font-size: 50px;
  margin-top: 20px;
  font-family: var(--Dancing-font);
}

.header-button {
  margin-top: 50px;
  padding: 15px 30px;
  font-size: 22px;
  font-family: var(--Montserrat-font);
  background-color: #00000057;
  border: 3px solid var(--gold);
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  border-radius: 15px;

  transition: all 500ms ease-in-out;
}

.header-button:hover {
  background-color: black;
  border: none;
  color: var(--gold);
  filter: drop-shadow(0 0 10px rgb(250, 250, 249));
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  -webkit-animation: spin 35s linear infinite;
  animation: spin 35s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Main Section - Swiper */
.brand-title {
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
  font-family: var(--Dancing-font);
  border-bottom: 1px dotted var(--gold);
  padding: 10px 12px;
  color: var(--gold);
}

.brand-subtitle {
  color: var(--gold);
  font-size: 27px;
}

.brand-container {
  overflow: initial;
}

.brand-content {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.brand-image-swipper {
  width: 1200px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.brand-link {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.brand-link {
  font-size: 23px;
  transition: transform 0.3s;
  color: var(--gold);
}

.brand-link:hover .bx-closet {
  transform: scale(1.3);
  color: #95684f;
}
.brand-description {
  font-size: 18px;
  align-items: center;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Secondary Section  - Gallery*/

.paragraph-subtitle {
  text-align: center;
  font-style: italic;
  font-family: var(--Dancing-font);
  font-size: 30px;
  color: var(--beige);
  font-weight: 700;
}

.gallery-image-responsive {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  padding: 20px;
  transition: all 500ms ease-in-out;
  border-radius: 40px;
  object-fit: cover;
}
.gallery-image-responsive:hover {
  transform: scale(1.4);
  filter: drop-shadow(0 -6mm 4mm rgb(230, 227, 220));
}

/* Footer */
footer {
  border-top: 3px solid var(--gold);
  background-color: #c6c4bf8b;
  padding: 35px 65px;
  margin-top: 120px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.footer-credits {
  font-size: 25px;
  font-family: var(--Dancing-font);
}
.developer {
  font-family: var(--Great-Vibes-font);
  color: var(--gold);
  font-size: 34px;
  font-weight: 500;
}
.social-link {
  font-size: 20px;
  color: var(--gold);
}

/* Third Section - Fasion Palette */

.container-palette {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 30px;
  margin-top: 25px;

  > div {
    flex: 0 0 350px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px var(--gold);
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url(" https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/249/original/1a7258d585dc7f7f18f8dd2f160edb12.jpg?1710006523")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/251/original/09dfc60ede128e91bd6f881c59fcdf02.jpg?1710006552")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/248/original/14008395e28e58a1d9003acedb1639db.jpg?1710006517")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/254/original/d3ab15e5bb5a65c2dd7bd111380ee650.jpg?1710006744")
        no-repeat 50% / cover;
    }

    .content {
      display: flex;
      align-items: center;
      color: white;
      padding: 50px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: var(--gold);
      background: linear-gradient(
        0deg,
        rgba(80, 78, 72, 0.646) 0%,
        rgba(65, 64, 58, 0.676) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      box-shadow: 1px 3px 15px var(--gold);
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

.hex-color-title {
  font-family: var(--Dancing-font);
  color: var(--beige);
}
.li {
  color: white;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 8px;
  background-color: hsl(207, 4%, 65%);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b59e8abc;
}
/* Media Queries */

@media (max-width: 1536px) {
  .container-box {
    max-width: 1280px;
  }
  .header-title {
    font-size: 80px;
  }
  .header-subtitle {
    font-size: 40px;
  }
  .header-button {
    padding: 15px 30px;
    font-size: 17px;
  }
  .brand-title {
    font-size: 45px;
  }

  .gallery-image-responsive:hover {
    transform: none;
  }

  .social-link {
    font-size: 14px;
  }
  .footer-credits,
  .developer {
    font-size: 20px;
  }
  .logo {
    margin-bottom: 15px;
  }
}

@media (max-width: 1280px) {
  .container-box {
    max-width: 1024px;
  }
  .gallery-image-responsive:hover {
    transform: none;
  }
}
@media (max-width: 1024px) {
  .container-box {
    max-width: 768px;
  }
  .header-title {
    font-size: 40px;
  }
  .header-subtitle {
    font-size: 35px;
  }
  .header-button {
    padding: 15px 30px;
    font-size: 17px;
  }
  .brand-title {
    font-size: 50px;
  }

  .gallery-image-responsive:hover {
    transform: none;
  }

  .social-link {
    font-size: 14px;
  }
  .footer-credits,
  .developer {
    font-size: 20px;
  }
  .logo {
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    .container-box {
      max-width: 640px;
    }
    .header-title {
      font-size: 40px;
    }
    .header-subtitle {
      font-size: 35px;
    }
    .header-button {
      padding: 15px 30px;
      font-size: 17px;
    }
    .brand-title {
      font-size: 50px;
    }

    .gallery-image-responsive:hover {
      transform: none;
    }

    .social-link {
      font-size: 14px;
    }
    .footer-credits,
    .developer {
      font-size: 20px;
    }
    .logo {
      margin-bottom: 15px;
    }

    .container-palette {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      gap: 30px;
      margin-top: 40px;
      margin: 0 auto;

      > div {
        flex: 0 0 250px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px var(--gold);
      }
    }
  }

  @media (max-width: 640px) {
    .container-box {
      max-width: 475px;
    }
    .header-title {
      font-size: 45px;
    }
    .header-subtitle {
      font-size: 27px;
    }
    .header-button {
      padding: 16px 25px;
      font-size: 15px;
    }
    .brand-title {
      font-size: 35px;
    }
    .brand-link,
    .brand-subtitle {
      font-size: 12px;
    }
    .brand-description,
    hr {
      display: none;
    }
    .paragraph-subtitle {
      font-size: 18px;
    }
    .gallery-image-responsive:hover {
      transform: none;
    }
    .footer-credits,
    .developer {
      font-size: 18px;
    }
    .social-link {
      font-size: 14px;
    }
    .swiper-pagination {
      height: 10px;
    }
    .logo {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 475px) {
    .container-box {
      width: 100%;
    }
    .header-title {
      font-size: 25px;
    }
    .header-subtitle {
      font-size: 16px;
    }
    .header-button {
      padding: 10px 10px;
      font-size: 17px;
    }
    .brand-title {
      font-size: 35px;
    }
    .brand-link,
    .brand-subtitle {
      font-size: 20px;
    }
    .paragraph-subtitle {
      font-size: 15px;
    }
    .paragraph-subtitle {
      font-size: 18px;
    }
    .swiper-pagination {
      height: 3px;
    }
    .footer-credits,
    .developer {
      font-size: 15px;
    }
  }
}
