:root {
  /* fonts */
  --poppins-font: "Poppins", sans-serif;
  --Great-Vibes-font: "Great Vibes", cursive;
  --Montserrat-font: "Montserrat", sans-serif;
  --Dancing-font: "Dancing Script", cursive;

  /* colors */
  --main-color: #bcb8b1;
  --gold: #b29d8c;
  --beige: #d7cabf;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Body */

body {
  font-family: var(--poppins-font);
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  background-color: var(--main-color);
}
.nav-link {
  color: white;
}
.navbar-brand {
  width: 50px;
}

/* Hero */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/000/original/5.png?1709826692");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;

  padding: 90px 100px;

  transition: all 300ms ease-in-out;
}
header:hover {
  filter: drop-shadow(0 0 25px rgb(128, 107, 62));
}
.header-title-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-title {
  font-size: 140px;
  font-family: var(--Montserrat-font);
  text-shadow: var(--gold);
  letter-spacing: 3px;
}

.header-subtitle {
  font-size: 50px;
  margin-top: 20px;
  font-family: var(--Dancing-font);
}

.header-button {
  margin-top: 50px;
  padding: 25px 60px;
  font-size: 22px;
  font-family: var(--Montserrat-font);
  background-color: #00000057;
  border: 3px solid var(--gold);
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
  border-radius: 15px;
  transition: all 400ms ease-in-out;
  
}

.header-button:hover {
  background-color: #876E63;
  border: none;
  color: white;
  filter: drop-shadow(0 0 10px rgb(250, 250, 249));

}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  -webkit-animation: spin 35s linear infinite;
  animation: spin 35s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
